.header {
  background-image: linear-gradient(
      0deg,
      rgba(251, 226, 137, 0.9) 0%,
      rgba(243, 138, 129, 0.9) 100%
    ),
    url('../images/baner/baner.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  color: $main-color;
  padding-top: 30px;
  padding-bottom: 230px;
  text-align: center;
  @media (min-resolution: 192dpi) {
    background-image: linear-gradient(
        0deg,
        rgba(251, 226, 137, 0.9) 0%,
        rgba(243, 138, 129, 0.9) 100%
      ),
      url('../images/baner/baner@2x.jpg');
  }
  &__navigation {
    margin-bottom: 180px;
  }
  &__title {
    text-align: center;
    font-size: 150px;
    font-family: $main-font;
    font-weight: 700;
    text-transform: uppercase;
    margin: 0 0 114px 0;
    &_first-line {
      text-transform: none;
      display: block;
      font-size: 72px;
      font-family: 'Kaushan Script';
      font-weight: 400;
      margin-bottom: 44px;
    }
    &_second-line {
      display: block;
      margin-bottom: 8px;
    }
  }
  &__modal-link {
    font-size: 14px;
    font-family: $main-font;
    font-weight: 700;
    color: $main-color;
    text-align: center;
    text-transform: uppercase;
    background-color: rgba(0, 0, 0, 0);
    border: 3px solid $main-color;
    padding: 10px 28px;
    transition-property: all;
    transition-duration: 0.2s;
    transition-timing-function: linear;
    &:hover {
      border: 7px solid $main-color;
      transition-property: all;
      transition-duration: 0.2s;
      transition-timing-function: linear;
    }
  }
}
.navigation {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}
.navigation-wrapper-left {
  display: flex;
  justify-content: space-between;
  width: 90%;
  align-items: baseline;
}
.logotype {
  font-size: 30px;
  color: $main-color;
  font-family: $main-font;
  font-weight: 700;
}
.navigation-list {
  display: flex;
  justify-content: space-between;
  &__item:not(:last-child) {
    margin-right: 56px;
  }
  &__link {
    font-size: 14px;
    color: $main-color;
    font-family: $main-font;
    font-weight: 400;
    text-align: center;
    text-transform: uppercase;
    position: relative;
    &::after {
      content: '';
      display: block;
      width: 100%;
      height: 3px;
      background-color: #fce38a;
      position: absolute;
      bottom: -12px;
      opacity: 0;
      visibility: hidden;
      transition-property: all;
      transition-duration: 0.2s;
      transition-timing-function: linear;
    }
    &:hover {
      color: #fce38a;
      transition-property: all;
      transition-duration: 0.2s;
      transition-timing-function: linear;
      &::after {
        opacity: 1;
        visibility: visible;
        transition-property: all;
        transition-duration: 0.2s;
        transition-timing-function: linear;
      }
    }
  }
}
.navigation-list-right {
  display: flex;
  width: 10%;
  justify-content: flex-end;
  &__item:not(:last-child) {
    margin-right: 40px;
  }
  &__icon {
    width: 18px;
    height: 14px;
    fill: $main-color;
    &:hover {
      fill: #fce38a;
      transition-property: all;
      transition-duration: 0.2s;
      transition-timing-function: linear;
    }
  }
  &__btn {
    border: none;
    background-color: transparent;
    cursor: pointer;
  }
}
