.section__title {
  display: block;
  font-size: 30px;
  color: $secondary-color;
  font-family: $main-font;
  font-weight: 700;
  text-align: center;
  &_first-line {
    display: block;
    font-size: 24px;
    font-family: 'Kaushan Script';
    font-weight: 400;
    text-align: center;
    margin-bottom: 20px;
  }
  &::after {
    content: '';
    width: 60px;
    height: 3px;
    background-color: #f38181;
    display: block;
    margin: 40px 570px 64px 570px;
  }
}
